$blue:       #71b6f9;
$indigo:     #675aa9;
$purple:     #5b69bc;
$pink:       #ff8acc;
$red:        #ff5b5b;
$orange:     #fd7e14;
$yellow:     #f9c851;
$green:      #10c469;
$teal:       #02a8b5;
$cyan:       #35b8e0;