
//Core Files
@import "variables";

//Structures Ex. Top bar, side bar etc.
@import "structures_style/topbar";

//Components
@import "components_style/buttons";
@import "components_style/topbar";
@import "components_style/footer";
@import "components_style/modal";

//Pages
@import "pages_style/home";
@import './pages_style/menu';
@import './pages_style/catering';




.App {
  text-align: center;
}


.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
