.topbar{
    background-color: rgb(88, 65, 47);
    >a{
        color: white;
        font-size: 220%;
    }
    >div:nth-child(1){
        margin-left: 3%
    }
    >div{
        >ul{
            >li{
                margin-left: 3%;
                margin-right: 3%;
                cursor:pointer;
                margin-top: 2%;
                >a{
                    color: white;
                    text-decoration:none;
                    font-size: 140%;
                }
                >a:hover{
                    color: rgb(253, 170, 103);
                }
            }
        }
        >span{
            margin-right: 3%
        }
    }
}