.contact{
    
   //background-color: pink;
   background-size: cover;
   padding-top: 70;
   >div:nth-child(1){
        
        display: flex;
        >div:nth-child(1){
            //background-color: pink;
            display: flex;
        }
        >div:nth-child(2){
            //background-color: green;
           >div:nth-child(1){
              //background-color: blue;
              
           }
           >form{
              >div:nth-child(1){
                 >input{
                     border: none;
                     border-bottom: 1px solid gray;
                     width: 100%
                 }
              }
           }
           
        }
       
   }
   >div:nth-child(2){
        display: flex;
        background-color: blue;
       align-items: center;
       justify-content: center;
   }

} 
